body {
    font-family: sans-serif;
}
header {
padding:20px;
    margin:20px;
}
header a {
    text-decoration:none;
    font-size:30px;
    color:lightblue;
}
img {
    border-radius:10px;
}
p {
    background-color:lightblue;
    width:200px;
    padding:2px;
    margin:10px;
}
nav a {
    padding:20px;
    margin:20px;
    text-decoration:none;
    color:black;

}
nav {
   padding:20px;
    margin:20px; 
    background-color:#9ACD32;
}